@page
@model MyWeb.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].ActiveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUser[0].StatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusNavigation.StatusName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
