@page
@model MyWeb.Pages.Roles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].StatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Role) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusNavigation.StatusName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RoleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
