@page
@using LibraryWeb.DataAccess
@using LibraryWeb.Model
@using Microsoft.EntityFrameworkCore
@model MyWeb.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Index.css" />

<div class="my-index container-fluid">

    <div class="left-content">
        <p class="font-weight-bold mb-2">Menu</p>
        <ul>
            <a asp-page="Index">
            <li class="d-flex align-items-center">
                <div class="home-icon icon"></div>
                Home
            </li>
            </a>
        </ul>
    </div>
    <div class="mid-content">
        <p class="font-weight-bold mb-2">Latest</p>
        @if (@Model.Posts.Count == 0)
        {
            <p class="text-center text-danger">Sorry, we can not find out any post you want!</p>
        }
        @foreach (Post p in @Model.Posts)
        {

            <div class="news news1">
                <div class="owner">
                    <img src="~/img/user.png" />
                    <div class="infos">
                        <p class="name">@p.UserPost.FirstName @p.UserPost.LastName</p>
                        <p class="date">@p.CreatedDate.ToString("MM/dd/yyyy h:mm tt")</p>
                    </div>
                </div>
                <div class="news-body">
                    <div class="title">
                        <h1>@p.Title</h1>
                    </div>
                    <div class="tags">
                        @foreach (string tmp in p.GetTagsList(p.Tags))
                        {
                            <a class="tag text-dark text-decoration-none" asp-route-searchTag="@tmp">#@tmp</a>
                        }
                    </div>
                    <div class="react">
                        <div class="likes">
                            <ion-icon name="thumbs-up-outline"></ion-icon>
                            <p>@Model.PostLikes[p.PostId]</p>
                        </div>
                        <div class="comments">
                            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                            <p>@Model.PostComments[p.PostId]</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="right-content">
        <div class="hownews-top d-flex justify-content-between">
            <p class="font-weight-bold mb-2">Hot News</p>
        </div>
        <div class="list-body">
            @foreach (Post post in @Model.HotNews)
            {
               <div class="hotn hotn1">
                <h1 class="title">
                    @post.Title
                </h1>
                <p class="time">@post.CreatedDate.ToString("dd/MM/yyyy h:mm tt")</p>
            </div> 
            }
            
            
        </div>
    </div>

</div>

@*<a asp-page="./Details" asp-route-id="@item.PostId">Details</a> |*@
