@page
@using LibraryWeb.DataAccess
@using LibraryWeb.Model
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model MyWeb.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Index.css" />

<div class="my-index container-fluid">

    <div class="left-content">
        <p class="font-weight-bold mb-2">Menu</p>
        <ul class="mb-3">
            <a asp-page="Index">
            <li class="d-flex align-items-center">
                <div class="home-icon icon"></div>
                Home
            </li>
            </a>

            @if (Accessor.HttpContext.Session.GetString("ROLE") != null
          && Accessor.HttpContext.Session.GetString("ROLE").Equals("ADMIN"))
            {
                <a asp-page="Create">
                <li class="d-flex align-items-center">
                    <div class="anounce-manage-icon icon"></div>
                    Create Anouncement
                </li>
                </a>
                <a asp-page="Index">
                <li class="d-flex align-items-center">
                    <div class="user-manage-icon icon"></div>
                    User Managament
                </li>
                </a>
            }

            @if (Accessor.HttpContext.Session.GetString("ROLE") != null
          && (Accessor.HttpContext.Session.GetString("ROLE").Equals("MANAGER") ||
          Accessor.HttpContext.Session.GetString("ROLE").Equals("RESIDENT")))
            {
                <a asp-page="Create">
                <li class="d-flex align-items-center">
                    <div class="post-manage-icon icon"></div>
                    Create News
                </li>
                </a>
                <a asp-page="Create">
                <li class="d-flex align-items-center">
                    <div class="post-resident-manage-icon icon"></div>
                    Management
                </li>
                </a>
            }
        </ul>

        @if (Accessor.HttpContext.Session.GetString("ROLE") != null
       && Accessor.HttpContext.Session.GetString("ROLE").Equals("MANAGER"))
        {
            <p class="font-weight-bold mb-2 mt-2">Groups</p>
            @if (@Model.Groups.Count > 0)
            {
                @foreach (Group group in @Model.Groups)
                {
                    <ul class="mb-3">
                        <a asp-page="Index">
                        <li class="d-flex align-items-center">
                            <div class="group-icon icon"></div>
                            @group.GroupName
                        </li>
                        </a>
                    </ul>
                }
            }
        }
        else if (Accessor.HttpContext.Session.GetString("ROLE") != null && Accessor.HttpContext.Session.GetString("ROLE").Equals("RESIDENT"))
        {
            <p class="font-weight-bold mb-2 mt-2">Groups</p>
            @if (@Model.GroupUsers.Count > 0)
            {
                @foreach (GroupUser group in @Model.GroupUsers)
                {
                    <ul class="mb-3">
                        <a asp-page="Index">
                        <li class="d-flex align-items-center">
                            <div class="group-icon icon"></div>
                            @group.Group.GroupName
                        </li>
                        </a>
                    </ul>
                }
            }
        }

    </div>
    <div class="mid-content">
        <p class="font-weight-bold mb-2">Latest</p>
        @if (@Model.Posts.Count == 0)
        {

            <p class="text-center not-found-item">Sorry, we can not find out any post you want!</p>
            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_etdc3qqu.json" background="transparent" speed="1" style="width: 80%; height: 80%;" loop autoplay></lottie-player>
        }
        @foreach (Post p in @Model.Posts)
        {

            <div class="news news1">
                <div class="owner">
                    <img src="~/img/user.png" />
                    <div class="infos">
                        <div class="flex-text">
                            <p class="name">(@p.UserPost.Role.RoleName.ToUpper()) @p.UserPost.FirstName @p.UserPost.LastName</p>
                            @if (@p.GroupPost != null)
                            {
                                <ion-icon name="caret-forward-outline"></ion-icon>
                                <p class="name">@p.GroupPost.GroupName</p>
                            }
                        </div>
                        <div class="flex-textt">
                            <p class="date">@p.CreatedDate.ToString("dddd, dd MMMM yyyy h:mm tt")</p>
                            @if (@p.GroupPost != null
                                 && @p.GroupPost.PublicStatus == 6 && @p.Status != 7
                                 && !@p.PostType.PostTypeName.Equals("Announcement"))
                            {
                                <img src="~/img/lock.png" />
                            }
                            else
                            {
                                <img src="~/img/earth.png" />
                            }
                        </div>
                    </div>
                </div>
                <div class="news-body">
                    <div class="title">
                        <a class="text-decoration-none" asp-page="./Details" asp-route-id="@p.PostId">@p.Title</a>
                    </div>
                    <div class="tags">
                        @foreach (string tmp in p.GetTagsList())
                        {
                            <a class="tag text-dark text-decoration-none" asp-route-searchTag="@tmp">#@tmp</a>
                        }
                    </div>
                    <div class="react">
                        <div class="likes">
                            <button>
                                <ion-icon name="heart-outline"></ion-icon>
                            </button>
                            <p>@p.LikesTotal</p>
                        </div>
                        <div class="comments">
                            <button>
                                <ion-icon name="chatbubble-outline"></ion-icon>
                            </button>
                            <p>@p.CommentsTotal</p>
                        </div>
                        <div class="views">
                            <ion-icon name="eye-outline"></ion-icon>
                            <p>@p.Views</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="right-content">
        <div class="hownews-top d-flex justify-content-between">
            <p class="font-weight-bold mb-2">Hot News</p>
        </div>
        <div class="list-body">
            @foreach (Post post in @Model.HotNews)
            {
                <div class="hotn hotn1">
                    <div class="title">
                        <a class="text-decoration-none" asp-page="./Details" asp-route-id="@post.PostId">@post.Title</a>
                    </div>
                    <p class="time">@post.CreatedDate.ToString("dd MMMM yyyy h:mm tt")</p>
                </div>
            }
        </div>
    </div>

</div>



