@page
@using LibraryWeb.Model
@model MyWeb.Pages.Managements.PostsModel
@{
    ViewData["Title"] = "Manager-Management";
    Layout = "_Layout_Managements";
}
<link rel="stylesheet" href="~/css/Management.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />

<div class="container-fluid">
    <div class="management-container">
        <div class="navigation">
            <p class="font-weight-bold mb-2">Menu</p>
            <ul class="mb-3">
                <a asp-page="./Posts">
                <li class="d-flex align-items-center">
                    <div class="pending-post-icon icon"></div>
                    Pending Post
                </li>
                </a>
                <a asp-page="./Residents">
                <li class="d-flex align-items-center">
                    <div class="pending-resident-icon icon"></div>
                    Pending Resident
                </li>
                </a>
            </ul>
        </div>
        @if (@Model.Posts.ToList().Count == 0)
        {
            <div class="table-container d-flex align-items-center flex-column">
                <p class="text-center not-found-item">No pending post at the moment...</p>
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_etdc3qqu.json" background="transparent" speed="1" style="width: 50%; height: 50%;" loop autoplay></lottie-player>
            </div>
        }
        else
        {
            <div class="table-container">

                <p class="manager-title">Pending Post Management</p>
                <table id="post-management" class="table table-striped table-bordered table-hover" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>To group</th>
                            <th>Owner</th>
                            <th>Create date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Post post in @Model.Posts.ToList())
                        {
                            int tmp = @Model.Posts.ToList().IndexOf(post) + 1;
                            <tr>
                                <td>@tmp</td>
                                <td>
                                    <a asp-page="./PostDetails" asp-route-id="@post.PostId">
                                        @post.Title
                                    </a>
                                </td>
                                <td>@post.GroupPost.GroupName</td>
                                <td>@post.UserPost.FirstName @post.UserPost.LastName</td>
                                <td>@post.CreatedDate.ToString("dddd, dd MMMM yyyy")</td>
                                <td>
                                    <a asp-page="./PostDetails" asp-route-id="@post.PostId" class="view-detail-btn">
                                        <ion-icon name="eye"></ion-icon>
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#post-management').DataTable();
    });
</script>
