@page
@using LibraryWeb.Model
@using Microsoft.AspNetCore.Http
@model MyWeb.Pages.Managements.UsersModel
@{
    ViewData["Title"] = "Users-Management";
    Layout = "_Layout_Managements";
}

<link rel="stylesheet" href="~/css/Management.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

@if (HttpContext.Session.GetString("ADMIN_MESSAGE") != null)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: '@HttpContext.Session.GetString("ADMIN_MESSAGE")',
            showConfirmButton: false,
            timer: 1200
        });
    </script>
}
else if (HttpContext.Session.GetString("ADMIN_FAILED_MESSAGE") != null)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: '@HttpContext.Session.GetString("ADMIN_FAILED_MESSAGE")',
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}

<div class="container-fluid">
    <div class="management-container">
        <div class="navigation">
            <p class="font-weight-bold mb-2">Menu</p>
            <ul class="mb-3">
                <a asp-page="./Groups">
                <li id="group_manage" class="d-flex align-items-center">
                    <div class="group-manage-icon icon"></div>
                    Group Managament
                </li>
                </a>
                <a asp-page="./Users">
                <li id="user_manage" class="d-flex align-items-center">
                    <div class="user-manage-icon icon"></div>
                    User Managament
                </li>
                </a>
            </ul>
        </div>

        @if (@Model.Users.ToList().Count == 0)
        {
            <div class="d-flex align-items-center flex-column">
                <p class="text-center not-found-item">Sorry, we can not find out any post you want!</p>
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_etdc3qqu.json" background="transparent" speed="1" style="width: 50%; height: 50%;" loop autoplay></lottie-player>
            </div>
        }
        else
        {
            <div class="table-container">
                <div class="d-flex justify-content-between">
                    <p class="manager-title">Users Management</p>
                </div>

                <table id="user-management" class="table table-striped table-bordered table-hover" style="width:100%">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User user in @Model.Users.ToList())
                        {
                            int tmp = @Model.Users.ToList().IndexOf(user) + 1;
                            <tr class="align-middle">
                                <td class="align-middle">@tmp</td>
                                <td class="align-middle">
                                    <p>
                                        @user.FirstName @user.LastName
                                    </p>
                                </td>
                                <td class="align-middle">@user.Address</td>
                                <td class="d-flex align-middle align-items-baseline g-10">
                                    @user.Role.RoleName
                                    @if (@user.Role.RoleName.Equals("RESIDENT"))
                                    {
                                        <button onclick="upRole('@user.UserId',' @user.FirstName @user.LastName')" class="approve-btn-green">
                                            <ion-icon name="caret-up-outline"></ion-icon>
                                        </button>
                                    }
                                    else // MANAGER
                                    {
                                        <button onclick="downRole('@user.UserId',' @user.FirstName @user.LastName')" class="reject-btn">
                                            <ion-icon name="caret-down-outline"></ion-icon>
                                        </button>
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (@user.Status == 1)
                                    {
                                        <p class="stat-active">Active</p>
                                    }
                                    else
                                    {
                                        <p class="stat-rejected">Inactive</p>
                                    }
                                </td>
                                <td class="d-flex align-middle">
                                    <a asp-page="../Users/Details" asp-route-id="@user.UserId" class="approve-btn">
                                        <ion-icon name="eye"></ion-icon>
                                        View
                                    </a>
                                    @if (@user.Status == 1)
                                    {
                                        <button onclick="banUser('@user.UserId','@user.FirstName @user.LastName')" class="reject-btn">
                                            <ion-icon name="person-remove"></ion-icon>
                                            Ban
                                        </button>
                                    }
                                    else
                                    {
                                        <button onclick="allowUser('@user.UserId','@user.FirstName @user.LastName')" class="add-btn">
                                            <ion-icon name="person-add"></ion-icon>
                                            Allow
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#user-management').DataTable();
    });

    const grouptManage = document.querySelector('#group_manage');
    const userManage = document.querySelector('#user_manage');
    if (window.location.pathname == "/managements/users") {
        userManage.classList.add('li-active');
        if (grouptManage.classList.contains('li-active')) {
            grouptManage.classList.remove('li-active');
        }
    }

    function allowUser(id, name) {
        Swal.fire({
            title: 'Confirm message',
            text: 'Do you really want to activate resident: ' + name,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, activate it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = './Users?handler=AllowUser&userid=' + id;
            }
        });
    }

    function banUser(id, name) {
        Swal.fire({
            title: 'Confirm message',
            text: 'Do you really want to inactive resident: ' + name,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, ban it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = './Users?handler=BanUser&userid=' + id;
            }
        });
    }

    function upRole(id, name) {
        Swal.fire({
            title: 'Confirm message',
            text: 'Do you really want to up role resident to manager: ' + name,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, up role this user!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = './Users?handler=UpRole&userid=' + id;
            }
        });
    }

    function downRole(id, name) {
        Swal.fire({
            title: 'Confirm message',
            text: 'Do you really want to down role manager to resident: ' + name,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, down role this user!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = './Users?handler=DownRole&userid=' + id;
            }
        });
    }
</script>
