@page
@using LibraryWeb.Model
@using Microsoft.AspNetCore.Http
@model MyWeb.Pages.Groups.DetailsModel

@{
    ViewData["Title"] = "Group";
    Layout = "_Layout_Group_View";
}

<link rel="stylesheet" href="~/css/ViewGroup.css" />

<div class="container-fluid">
    <div class="view-group-container">
        <div class="group-content">
            @if (@Model.Group.PublicStatus == 5 || @Model.IsJoined == 1 || @Model.Role.Equals("ADMIN")) // chỉ được coi bài khi group public hoặc đã join hoặc là ADMIN
            {
                <div class="public-group">
                    <p class="font-weight-bold mb-2">Latest</p>
                    @if (@Model.Posts.ToList().Count > 0)
                    {
                        @foreach (Post post in @Model.Posts.ToList())
                        {
                            <div class="news">
                                <div class="owner">
                                    <img src="~/img/@post.UserPost.Avatar" />
                                    <div class="infos">
                                        <div class="flex-text">
                                            <a asp-area="" asp-page="../Users/Details" asp-route-id="@post.UserPost.UserId" class="name text-dark text-decoration-none">
                                                @post.UserPost.FirstName @post.UserPost.LastName
                                            </a>
                                            <ion-icon name="caret-forward-outline"></ion-icon>
                                            <p class="name">@post.GroupPost.GroupName</p>
                                        </div>
                                        <div class="flex-textt">
                                            <p class="date">@post.CreatedDate.ToString("dddd, dd MMMM yyyy h:mm tt")</p>
                                            <img src="~/img/group.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="news-body">
                                    <div class="title">
                                        <a asp-page="../Posts/Details" asp-route-id="@post.PostId">@post.Title</a>
                                    </div>
                                    <div class="tags">
                                        @foreach (string tag in @post.GetTagsList())
                                        {
                                            <a class="tag text-dark text-decoration-none" asp-area="" asp-page="../Posts/Index" asp-route-searchTag="@tag">#@tag</a>
                                        }
                                    </div>
                                    <div class="react">
                                        <div class="likes">
                                            <button>
                                                <ion-icon name="heart-outline"></ion-icon>
                                            </button>
                                            <p>@post.LikesTotal</p>
                                        </div>
                                        <div class="comments">
                                            <button>
                                                <ion-icon name="chatbubble-outline"></ion-icon>
                                            </button>
                                            <p>@post.CommentsTotal</p>
                                        </div>
                                        <div class="views">
                                            <ion-icon name="eye-outline"></ion-icon>
                                            <p>@post.Views</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-center not-found-item">This group don't have any news!</p>
                    }
                </div>
            }
            else
            {
                <p class="font-weight-bold mb-2" style="color: #f5f5f5; user-select: none">Gr info</p>
                <div class="private-group">
                    <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_j8eocx6c.json" background="transparent" speed="1" style="width: 50%; height: 50%;" loop autoplay></lottie-player>
                    <p class="private-group-text">This group is private</p>
                    <p class="private-group-text2">Join this group to view or participate in discussions.</p>
                </div>
            }

        </div>
        <div style="width: 40%">
            <p class="font-weight-bold mb-2" style="color: #f5f5f5; user-select: none">Gr info</p>
            <div class="group-infos">
                <div class="group-info flex-column align-items-start">
                    <p class="group-name">@Model.Group.GroupName</p>
                    <div class="group-status">
                        @if (@Model.Group.PublicStatus == 5)
                        {
                            <img src="~/img/earth.png" />
                            <p class="group-status-text">Public Group - @Model.TotalMembers members</p>
                        }
                        else
                        {
                            <img src="~/img/lock.png" />
                            <p class="group-status-text">Private Group - @Model.TotalMembers members</p>
                        }
                    </div>
                </div>

                @if (@Model.IsJoined == 1) // joined
                {
                    if (@Model.Role.Equals("MANAGER"))
                    {
                        <div class="group-info">
                            <button class="joined-btn" disabled>Leader</button>
                        </div>
                    }
                    else if (@Model.Role.Equals("RESIDENT"))
                    {
                        <div class="group-info status-click">
                            <button onclick="cancelGroup()" class="joined-btn">Joined</button>
                        </div>
                    }
                }
                else if ((@Model.IsJoined == 0 || @Model.IsJoined == 2) && @Model.Role.Equals("RESIDENT")) // not join
                {
                    <div class="group-info status-click">
                        <a asp-page="./Details" asp-route-groupId="@Model.Group.GroupId" asp-page-handler="JoinGroupAction" class="join-btn text-center text-decoration-none">Join group</a>
                    </div>
                }
                else if (@Model.IsJoined == 4 && @Model.Role.Equals("RESIDENT")) // is pending
                {
                    <div class="group-info status-click">
                        <button onclick="cancelGroup()" class="asking-btn">Pending ...</button>
                    </div>
                }

                <div class="group-info">
                    <ion-icon name="person"></ion-icon>
                    <div>
                        <p class="gr-info-title">Manager</p>
                        <p class="gr-info-content">@Model.Group.GroupOwner.FirstName @Model.Group.GroupOwner.LastName</p>
                    </div>
                </div>
                <div class="group-info">
                    <ion-icon name="timer"></ion-icon>
                    <div>
                        <p class="gr-info-title">Created date</p>
                        <p class="gr-info-content">@Model.Group.CreatedDate.ToString("dddd, dd MMMM yyyy h:mm tt")</p>
                    </div>
                </div>
                <div class="group-info">
                    <ion-icon name="eye"></ion-icon>
                    <div>
                        <p class="gr-info-title">Visible</p>
                        <p class="gr-info-content">Anyone can find this group</p>
                    </div>
                </div>
                <div class="group-info">
                    <ion-icon name="reader"></ion-icon>
                    <div style="width: fit-content">
                        <p class="gr-info-title">Description</p>
                        <p class="gr-info-content">@Model.Group.GroupDescription</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

<script>
    function cancelGroup() {
        Swal.fire({
            title: 'Confirm message',
            text: "Do you really want to leave this group?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, i want!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = "./Details?handler=CancelGroupAction&groupId=@Model.Group.GroupId";
            }
        });
    }
</script>


