@page
@using LibraryWeb.Model
@using Microsoft.AspNetCore.Http
@model MyWeb.Pages.Groups.DetailsModel

@{
    ViewData["Title"] = "Group";
    Layout = "_Layout_Group_View";
}

<link rel="stylesheet" href="~/css/ViewGroup.css" />

<div class="container-fluid">
    <div class="view-group-container">
        <div class="group-content">
            @if (@Model.Group.PublicStatus == 5 || @Model.IsJoined == 1)
            {
                <div class="public-group">
                    <p class="font-weight-bold mb-2">Latest</p>
                    @if (@Model.Posts.ToList().Count > 0)
                    {
                        @foreach (Post post in @Model.Posts.ToList())
                        {
                            <div class="news">
                                <div class="owner">
                                    <img src="~/img/user.png" />
                                    <div class="infos">
                                        <div class="flex-text">
                                            <a asp-area="" asp-page="../Users/Details" asp-route-id="@post.UserPost.UserId" class="name text-dark text-decoration-none">
                                                @post.UserPost.FirstName @post.UserPost.LastName
                                            </a>
                                            <ion-icon name="caret-forward-outline"></ion-icon>
                                            <p class="name">@post.GroupPost.GroupName</p>
                                        </div>
                                        <div class="flex-textt">
                                            <p class="date">@post.CreatedDate.ToString("dddd, dd MMMM yyyy h:mm tt")</p>
                                            <img src="~/img/group.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="news-body">
                                    <div class="title">
                                        <a asp-page="../Posts/Details" asp-route-id="@post.PostId">@post.Title</a>
                                    </div>
                                    <div class="tags">
                                        @foreach (string tag in @post.GetTagsList())
                                        {
                                            <a class="tag text-dark text-decoration-none" asp-area="" asp-page="../Posts/Index" asp-route-searchTag="@tag">#@tag</a>
                                        }
                                    </div>
                                    <div class="react">
                                        <div class="likes">
                                            <button>
                                                <ion-icon name="heart-outline"></ion-icon>
                                            </button>
                                            <p>@post.LikesTotal</p>
                                        </div>
                                        <div class="comments">
                                            <button>
                                                <ion-icon name="chatbubble-outline"></ion-icon>
                                            </button>
                                            <p>@post.CommentsTotal</p>
                                        </div>
                                        <div class="views">
                                            <ion-icon name="eye-outline"></ion-icon>
                                            <p>@post.Views</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-center not-found-item">This group don't have any news!</p>
                    }
                </div>
            }
            else
            {
                <div class="private-group">
                    <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_j8eocx6c.json" background="transparent" speed="1" style="width: 50%; height: 50%;" loop autoplay></lottie-player>
                    <p class="private-group-text">This group is private</p>
                    <p class="private-group-text2">Join this group to view or participate in discussions.</p>
                </div>
            }

        </div>
        <div style="width: 40%">
            <p class="font-weight-bold mb-2" style="color: #f5f5f5">Gr info</p>
            <div class="group-infos">
                <div class="group-info flex-column align-items-start">
                    <p class="group-name">@Model.Group.GroupName</p>
                    <div class="group-status">
                        @if (@Model.Group.PublicStatus == 5)
                        {
                            <img src="~/img/earth.png" />
                            <p class="group-status-text">Public Group - @Model.TotalMembers members</p>
                        }
                        else
                        {
                            <img src="~/img/lock.png" />
                            <p class="group-status-text">Private Group - @Model.TotalMembers members</p>
                        }
                    </div>
                </div>

                @if (@Model.IsJoined == 1) // joined
                {
                    var role = HttpContext.Session.GetString("ROLE");
                    if (role.Equals("MANAGER"))
                    {
                        <div class="group-info">
                            <button class="joined-btn" disabled>Leader</button>
                        </div>
                    }
                    else if (role.Equals("RESIDENT"))
                    {
                        <div onclick="handleChange()" class="group-info status-click">
                            <button id="btnLeaveGroup" class="joined-btn">Joined</button>
                        </div>
                    }
                }
                else if (@Model.IsJoined == 0 || @Model.IsJoined == 2) // not join
                {
                    <div onclick="handleChange()" class="group-info status-click">
                        <button id="btnJoinGroup" class="join-btn">Join group</button>
                    </div>
                }
                else if (@Model.IsJoined == 4) // is pending
                {
                    <div onclick="handleChange()" class="group-info status-click">
                        <button id="btnCancelJoining" class="asking-btn">Asking to join</button>
                    </div>
                }

                <div class="group-info">
                    <ion-icon name="person"></ion-icon>
                    <div>
                        <p class="gr-info-title">Manager</p>
                        <p class="gr-info-content">@Model.Group.GroupOwner.FirstName @Model.Group.GroupOwner.LastName</p>
                    </div>
                </div>
                <div class="group-info">
                    <ion-icon name="timer"></ion-icon>
                    <div>
                        <p class="gr-info-title">Created date</p>
                        <p class="gr-info-content">@Model.Group.CreatedDate.ToString("dddd, dd MMMM yyyy h:mm tt")</p>
                    </div>
                </div>
                <div class="group-info">
                    <ion-icon name="eye"></ion-icon>
                    <div>
                        <p class="gr-info-title">Visible</p>
                        <p class="gr-info-content">Anyone can find this group</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>*@

<script>
    @*Join group action*@
        $(document).ready(function() {
            $('.join-btn').click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/Groups/Details?handler=JoinGroupAction&groupId=@Model.Group.GroupId.ToString()',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        let status = result.status;
                        if (status == 1) {
                            console.log('Success');
                        } else if (status == 2) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Hold up...',
                                text: 'you need to login before joining any group!'
                            }).then(value => {
                                window.location = "../Login";
                            });
                        } else {
                            console.log('[SYSTEM MESSAGE]: CHECK LOGIC AGAIN PLEASE!');
                        }
                    }
                });
            });
        });

    @*Leave and reject joining request action*@
        $(document).ready(function() {
            $('.asking-btn').click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/Groups/Details?handler=CancelGroupAction&groupId=@Model.Group.GroupId.ToString()',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        let status = result.status;
                        if (status == 1) {
                            console.log('Success');
                        } else {
                            console.log('[SYSTEM MESSAGE]: CHECK LOGIC AGAIN PLEASE!');
                        }
                    }
                });
            });
        });

    $(document).ready(function() {
        $('.joined-btn').click(function() {
            $.ajax({
                type: 'GET',
                url: '/Groups/Details?handler=CancelGroupAction&groupId=@Model.Group.GroupId.ToString()',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(result) {
                    let status = result.status;
                    if (status == 1) {
                        console.log('Success');
                    } else {
                        console.log('[SYSTEM MESSAGE]: CHECK LOGIC AGAIN PLEASE!');
                    }
                }
            });
        });
    });
</script>



<script>

    function handleChange() {
        const btnLeave = document.querySelector('.joined-btn');
        const btnJoin = document.querySelector('.join-btn');
        const btnCancel = document.querySelector('.asking-btn');
        const toChangeBtn = document.querySelector('.status-click');

        if (btnJoin != null) {
            console.log('btnJoin khac null');
            toChangeBtn.innerHTML = "";
            var btn = document.createElement("button");
            btn.classList.add("asking-btn");
            btn.innerHTML = "Asking to join"
            toChangeBtn.appendChild(btn);
        }
        if (btnCancel != null) {
            console.log('btnCancel khac null');
            toChangeBtn.innerHTML = "";
            var btn = document.createElement("button");
            btn.classList.add("join-btn");
            btn.innerHTML = "Join group"
            toChangeBtn.appendChild(btn);
        }
        if (btnLeave != null) {
            console.log('btnLeave khac null');
            toChangeBtn.innerHTML = "";
            var btn = document.createElement("button");
            btn.classList.add("join-btn");
            btn.innerHTML = "Join group"
            toChangeBtn.appendChild(btn);
        }
    }
</script>

