@page
@model MyWeb.Pages.Groups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].PublicStatusNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].StatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Group) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupOwner.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicStatusNavigation.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusNavigation.StatusName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GroupId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GroupId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
